<h1 mat-dialog-title>Sweden</h1>
<mat-dialog-content>
  Sweden is a country that does not go for beach rest and bright sun. But it can 
  be called the queen of the mountains, because of something, and there are a lot of them.
  <ul> <b> You will receive:</b>
  </ul>
  <li>accommodation in a villa with all amenities (gym, swimming pool, spa area);
  </li>
  <li>delicious, diverse and healthy food-menu;
  </li>
  <li>different sports;</li>
  <li>training program;</li>
  <li>good mood and perfect body</li>
  <li>bonus: sunrises, sunsets and starry sky at night!
  </li>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn btn-outline-light font-weight-bold" [scrollTo]="'#registration'" mat-dialog-close>Registration</button>
</mat-dialog-actions>
