.list {
  display: flex;
  justify-content: center;
}
.question-card {
    max-width: 400px;
    background: #005952;
    margin-top: 10px;
    color: white;
  }

  .mat-raised-button {
    background: #adadad;
  }
  

