<div class="list">
<mat-card class="question-card">
  <mat-card-header>
    <mat-card-title>{{question.question}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src] ="question.image">
  <mat-card-content>
    <p>{{question.title}}
    </p>
    
    <form class="example-form">
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form>
      
      
    
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button>Відповісти</button>
    <button mat-raised-button (click) = "helpClick()">Підказка</button>
  </mat-card-actions>
</mat-card>
</div>