.content {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.panel{
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #adadad;
    padding: 16px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.display-3 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.text{
    display: flex;
    flex-direction: row;
}
.image{
    background: url(../../assets/aboutUs.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;

}
.blockquote{
    width: 60%;
    margin-left: 20px; 
}