<div class="content">
    <h1 class="display-3">About Us</h1>

    <div class="text">
    <div class="image"></div>
    <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor, 
          sit amet consectetur adipisicing elit. Dolor deserunt tempore pariatur minus reprehenderit quasi similique providen
          t maiores suscipit, eius officia veritatis possimus, asperiores ut consequuntur earum consectetur nesciunt autem!</p>
      </blockquote>
    </div>
</div>


  <!-- https://www.w3schools.com/w3css/w3css_templates.asp 
  
  http://13.58.56.173/-->