
<div class="content" id="aboutUs">
    <div class="panel">
        <div class="section">
          <h1>14+</h1><br>
          <h3>Trips</h3> 
        </div>
        <div class="section">
          <h1>55+</h1><br>
         <h3>Happy people</h3> 
        </div>
        <div class="section">
          <h1>3+</h1><br>
         <h3>Countries</h3> 
        </div>
        <div class="section">
          <h1>150+</h1><br>
          <h3>Miles past</h3> 
        </div>
      </div>

    <h1 class="display-3">About Us</h1>

    <div class="text">
    <div class="image"></div>
    <blockquote class="blockquote">
        <p class="mb-0">Fitness Camp stands out from other camps because we can offer something for everyone. Old, young, fit or out of shape! Our instructo
          rs are some of the best in Europe and all ar
          e fully qualified. Our main goal is for everyone to enjoy the intensive training while at the same time enjoying the surroundings and great weather the Costa
           Del Sol has to offer.

          We want each and every one of you to leave our camp with a desire to come back time and time again. We want you to bring a simply unforgettable experience ho
          me with you.
          
          We are well-known for training at a very high level. All of the camps presented on our website are open to anyone who is interested. Whether you are thinking
           of booking a camp for yourself, your employees, your fitness centre or a stag/hen party, we will be able to meet your needs.</p>
      </blockquote>
    </div>
</div>


  <!-- https://www.w3schools.com/w3css/w3css_templates.asp 
  
  http://13.58.56.173/-->