<div class="container">
<div class="blocks">
    <blockquote class="blockquote">
        <p class="mb-0">I really liked the organization and approach. There was a "shower" in the process. 
          I want to note that everything is clear, well-coordinated and conscientious. The program is awesome! 
          I think she is the best in the market of fitness services in her level.
          My opinion - at least once all the slimming 
          girls should try to go to camp and come to the senses, 
          like I) I want more, every month!))</p>
      </blockquote>
      <div class="image">
      <img src="../../assets/run.jpg" ></div>
    </div>

    <div class="blocks">
        <div class="image">
            <img src="../../assets/2.jpg" ></div>
          
        <blockquote class="blockquote">
            <p class="mb-0">In one week I lived a small life full of incredible adventures. 
              I can not remember when the last time a holiday would bring me so much pleasure! 
              It was not just an ordinary trip to the sea. 
              Here, I made new friends, got a sea of ​​vivid impressions and of course discovered
               for myself such a different, so far unknown to me, beautiful Slovenia, 
              which you can not help falling in love with. Thanks fit camp.
               I hope I'll be back</p>
          </blockquote>
        </div>
      </div>

