<h1 mat-dialog-title>Austria</h1>
<mat-dialog-content>
  Austria is a true tourist paradise Austria is a country that can give
   a lot of pleasant emotions and unforgettable impressions to every tourist. 
   This country is not without reason considered a paradise for lovers of outdoor activities 
   and it is not only: the ski resorts in Austria, which are known all over the world.
   It is also an unforgettable rafting, 
  diving, surfing, windsurfing and sailing, which are available almost all year round.
  <ul> <b> You will receive:</b>
  </ul>
  <li>accommodation in a villa with all amenities (gym, swimming pool, spa area);
  </li>
  <li>delicious, diverse and healthy food-menu;
  </li>
  <li>different sports;</li>
  <li>training program;</li>
  <li>good mood and perfect body</li>
  <li>bonus: sunrises, sunsets and starry sky at night!
  </li>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn btn-outline-light font-weight-bold" [scrollTo]="'#registration'" mat-dialog-close>Registration</button>
</mat-dialog-actions>
